### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [65]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [26]:
count=purchase_data['SN'].count()
count

780

In [27]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
player_uni = len(purchase_data["SN"].unique())
player_uni

576

In [36]:
purchase_count = purchase_data['Purchase ID'].count()
total_rev = purchase_data['Price'].sum()

In [29]:
# The mean method averages the series
average = purchase_data["Price"].mean()
average

3.050987179487176

In [46]:
Summary_table = pd.DataFrame({"Number of Unique Items": player_uni,
                              "Average Price": [average],
                              "Number of Purchases": [purchase_count],
                              "Total Revenue": [total_rev]})
Summary_table

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     576        2379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
# Calculate the number of unique players in the DataFrame
player_count = len(purchase_data["Gender"].unique())
player_count

3

In [61]:
male_percent =purchase_data["Price"].mean()

In [63]:

# Place all of the data found into a summary DataFrame
summary_table = pd.DataFrame({"Percentage of Players": player_count,
                              "Average Price": [male_percent]})
summary_table

   GenderAverage Price  Percentage of Players
0             3.050987                      3

                       Percentage of Players  Total Count
Male                                  113.19          652
Female                                 19.62          113
Other / Non-Disclosed                   2.60           15

In [8]:
purchase_data = purchase_data.groupby(['Gender'])
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [68]:
gender_table=pd.DataFrame({"Male":purchase_data['Gender'],
                          "Female":purchase_data['Gender']})
gender_table

                    Female                   Male
0                     Male                   Male
1                     Male                   Male
2                     Male                   Male
3                     Male                   Male
4                     Male                   Male
5                     Male                   Male
6                     Male                   Male
7                     Male                   Male
8                     Male                   Male
9    Other / Non-Disclosed  Other / Non-Disclosed
10                    Male                   Male
11                    Male                   Male
12                    Male                   Male
13                    Male                   Male
14                    Male                   Male
15                  Female                 Female
16                    Male                   Male
17                    Male                   Male
18                  Female                 Female
19                    Male                   Male
20                    Male                   Male
21                    Male                   Male
22   Other / Non-Disclosed  Other / Non-Disclosed
23                    Male                   Male
24                    Male                   Male
25                    Male                   Male
26                    Male                   Male
27                    Male                   Male
28                    Male                   Male
29                    Male                   Male
..                     ...                    ...
750                   Male                   Male
751                   Male                   Male
752                   Male                   Male
753                   Male                   Male
754                 Female                 Female
755                   Male                   Male
756                   Male                   Male
757                   Male                   Male
758                   Male                   Male
759                   Male                   Male
760                   Male                   Male
761                   Male                   Male
762                   Male                   Male
763                   Male                   Male
764                   Male                   Male
765                   Male                   Male
766                   Male                   Male
767                 Female                 Female
768                   Male                   Male
769                   Male                   Male
770                   Male                   Male
771                   Male                   Male
772                   Male                   Male
773                   Male                   Male
774                   Male                   Male
775                 Female                 Female
776                   Male                   Male
777                   Male                   Male
778                   Male                   Male
779                   Male                   Male

[780 rows x 2 columns]


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

       Percentage of Players  Total Count
<10                     3.99           23
10-14                   4.86           28
15-19                  23.61          136
20-24                  63.37          365
25-29                  17.53          101
30-34                  12.67           73
35-39                   7.12           41
40+                     2.26           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94
<10,23,$3.35,$77.13,$3.35

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80