### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
import pandas as pd
import numpy as np

file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
count=purchase_data['Gender'].count()
count

780

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
player_uni = len(purchase_data["SN"].unique())
player_uni

576

In [6]:
purchase_count = purchase_data['Purchase ID'].count()
total_rev = purchase_data['Price'].sum()

In [7]:
average = purchase_data["Price"].mean()
average

3.050987179487176

In [8]:
Summary_table = pd.DataFrame({"Number of Unique Items": player_uni,
                              "Average Price": [average],
                              "Number of Purchases": [purchase_count],
                              "Total Revenue": [total_rev]})
Summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     576       3.050987                  780        2379.77

In [9]:
average_item_price = purchase_data["Price"].mean()
total_purchase_value = purchase_data["Price"].sum()
purchase_count = purchase_data["Price"].count()
item_count = len(purchase_data["Item ID"].unique())

summary_table = pd.DataFrame({"Number of Unique Items": item_count,
                               "Total Revenue": [total_purchase_value],
                               "Number of Purchases": [purchase_count],
                               "Average Purchase Price": [average_item_price]})

summary_table = summary_table.round(2)
summary_table ["Average Price"] = summary_table["Average Purchase Price"].map("${:,.2f}".format)
summary_table ["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)
summary_table = summary_table.loc[:, ["Number of Unique Items", "Average Purchase Price", "Number of Purchases", "Total Revenue"]]

summary_table

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,183,3.05,780,"$2,379.77"

In [10]:
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [11]:
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]
num_players

576

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
gender_demographics_totals = player_demographics["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals / num_players * 100

gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals,
                                    "Percentage of Players": gender_demographics_percents})

gender_demographics = gender_demographics.round(2)

gender_demographics

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [13]:
male_percent =purchase_data["Price"].mean()

In [14]:
gender_counts = purchase_data['Gender'].value_counts()
gender_counts.head()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [15]:
gender_uni = len(purchase_data["Gender"].unique())

In [16]:
(gender_counts/count).value_counts()

0.144872    1
0.835897    1
0.019231    1
Name: Gender, dtype: int64

In [17]:
gender_percent = pd.DataFrame((gender_counts/count)*100)
gender_percent

                          Gender
Male                   83.589744
Female                 14.487179
Other / Non-Disclosed   1.923077

In [18]:
gender_percent['Total_Count']=gender_counts
gender_percent

                          Gender  Total_Count
Male                   83.589744          652
Female                 14.487179          113
Other / Non-Disclosed   1.923077           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

In [20]:
gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Value")
gender_counts = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

normalized_total = gender_purchase_total / gender_demographics["Total Count"]

gender_data = pd.DataFrame({"Normalized Total": normalized_total, 
                            "Purchase Count": gender_counts, 
                            "Total Purchase Value": gender_purchase_total, 
                            "Average Purchase Value": gender_average})
gender_data

,Normalized Total,Purchase Count,Total Purchase Value,Average Purchase Value
Gender,,,,
Female,4.468395,113,361.94,3.203009
Male,4.065372,652,1967.64,3.017853
Other / Non-Disclosed,4.562727,15,50.19,3.346000

In [21]:
total_purch = gender_counts*(purchase_data['Price'])

In [22]:
gender_counts

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
# bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=group_names)
player_demographics.head()

  Gender             SN  Age Age Ranges
0   Male        Lisim78   20      20-24
1   Male    Lisovynya38   40        40+
2   Male     Ithergue48   24      20-24
3   Male  Chamassasya86   24      20-24
4   Male      Iskosia90   23      20-24

In [24]:
age_demographics_totals = player_demographics["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / num_players * 100

age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percent of Players": age_demographics_percents})
age_demographics = age_demographics.sort_index()

In [25]:
age_demographics

       Total Count  Percent of Players
<10             17            2.951389
10-14           22            3.819444
15-19          107           18.576389
20-24          258           44.791667
25-29           77           13.368056
30-34           52            9.027778
35-39           31            5.381944
40+             12            2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
#find number of unique items sold, purchase price, number of purchases, and total revenue for full dataframe
uniqueitems = purchase_data['Item ID'].nunique()
avgprice = (purchase_data['Price'].sum()/purchase_data['Price'].count()).round(2)
totalpurchases = purchase_data['Price'].count()
totalrevenue = purchase_data["Price"].sum()

total_analysis_df = pd.DataFrame({"Number of Unique Items": [uniqueitems], 
                              "Average Purchase Price": [avgprice],
                             "Number of Purchases": [totalpurchases],
                             "Total Revenue": [totalrevenue]}, columns= ["Number of Unique Items", "Average Purchase Price",
                            "Number of Purchases", "Total Revenue"])

total_analysis_df.style.format({"Average Purchase Price": "${:.2f}", "Total Revenue": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Amount")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

user_data = pd.DataFrame({"Total Purchase Amount": user_total,
                          "Average Purchase Price": user_average,
                          "Purchase Count": user_count})

user_data.sort_values("Total Purchase Amount", ascending=False).head(5)

             Total Purchase Amount  Average Purchase Price  Purchase Count
SN
Lisosia93                    18.96                3.792000               5
Idastidru52                  15.45                3.862500               4
Chamjask73                   13.83                4.610000               3
Iral74                       13.62                3.405000               4
Iskadarya95                  13.10                4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
user_total = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"]
user_total.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [39]:
premergeone = purchase_data.groupby("Item Name").sum().reset_index()
premergetwo = purchase_data.groupby("Item ID").sum().reset_index()
premergethree = purchase_data.groupby("Item Name").count().reset_index()

mergeone = pd.merge(premergeone, premergetwo, on="Price")
mergetwo = pd.merge(premergethree, mergeone, on="Item Name")

mergetwo["Gender"] = (mergetwo["Price_y"]/mergetwo["Item ID"]).round(2)

mergetwo_renamed = mergetwo.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

clean_df = mergetwo_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]
prefinal_df = clean_df.set_index(['Item Name', 'Item ID'])
popular_items_final = prefinal_df.sort_values('Purchase Count', ascending=False).head(6)
popular_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [ ]:
profit_items_final = user_total.sort_values('Total Purchase Value', ascending=False).head()
profit_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [1]:
## 3 Observable trends

# -There is a large majority of Male players
# -A majority of players are between the ages of 20-24
# -The average price paid for in-game purchases is around $3