In [102]:
import pandas as pd
import csv
import os

In [103]:
file = 'employee_data1.csv'
file2 = 'employee_data2.csv'
csvpath = os.path.join('Resources', 'employee_data1.csv')

In [104]:
emp_id = []
first_name = []
last_name = []
dob =[]
ssn = []
state = []

In [105]:
name_df = pd.read_csv(file)
name_df.head()

Empty DataFrame
Columns: [Emp ID, First Name, Last Name, DOB, SSN, State]
Index: []

In [107]:
# The Name column should be split into separate First Name and Last Name columns.

#name_df[['first_name','last_name']] = name_df['Name'].loc[name_df['Name'].str.split().str.len() == 2].str.split(expand=True)
#name_df.head()

In [108]:
name_df.head()

Empty DataFrame
Columns: [Emp ID, First Name, Last Name, DOB, SSN, State]
Index: []

In [109]:
#The DOB data should be re-written into MM/DD/YYYY format.

name_df['DOB'] = pd.to_datetime(name_df.DOB)

name_df['DOB1'] = name_df['DOB'].dt.strftime('%m/%d/%Y')

name_df.head()

Empty DataFrame
Columns: [Emp ID, First Name, Last Name, DOB, SSN, State, DOB1]
Index: []

In [110]:
del name_df['DOB']
name_df=name_df.rename(columns={'DOB1':'DOB'})
name_df.head()

Empty DataFrame
Columns: [Emp ID, First Name, Last Name, SSN, State, DOB]
Index: []

In [111]:
name_df["SSN mask"]="****-**-" +name_df["SSN"].str[-4]

In [112]:
name_df["SSN mask"]

Series([], Name: SSN mask, dtype: object)

In [113]:
us_state_abbrev = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO',
    'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
    'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA',
    'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN',
    'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV',
    'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC',
    'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA',
    'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX',
    'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV',
    'Wisconsin': 'WI', 'Wyoming': 'WY',
}

In [114]:
file_num = 1

In [115]:
file = os.path.join('employee_data' + str(file_num) + '.csv')

In [116]:
with open(file, newline = '') as csvfile:
    csvreader = csv.reader(csvfile, delimiter = ',')
    next(csvreader, None)

    # looping through the read file
    for row in csvreader:
        # appending employee id to a new list
        emp_id.append(row[0])

        # appending first & last name to two separate lists
        name = row[1].split(" ") # splitting name by space
        first_name.append(name[0]) # appending first name
        last_name.append(name[1]) # appending last name

        # formatting & appending dob
        bdate = row[2].split("-") # splitting dob by '-'
        new_db = bdate[1] + "/" + bdate[2] + "/" + bdate[0] # formatting dob
        dob.append(new_db) # appending formatted dob

        #formatting & appending ssn
        ssn_split = row[3].split("-") # splitting ssn by '-'
        new_ssn = "***-**-" +ssn_split[2] # formatting ssn
        ssn.append(new_ssn) # appending formatted ssn

        # looping through states dictionary
        state.append(us_state_abbrev[row[4]])

IndexError: list index out of range

In [77]:
new_data = zip(emp_id, first_name, last_name, dob, ssn, state)

In [78]:
output_file = os.path.join('Output', 'clean_emp_data' + str(file_num) + '.csv')

In [79]:
with open(file,'w') as csvwrite:
    cleanfile = csv.writer(csvwrite, delimiter = ",")
    cleanfile.writerow(['Emp ID', 'First Name', 'Last Name', 'DOB', 'SSN', 'State'])
    cleanfile.writerows(new_data)

In [80]:
#practice formulas
#name_df=pd.DataFrame({'Emp ID','Name','DOB','SSN','State','first_name','last_name'})
#name_df.columns =
#name_df['DOB1'] = name_df['DOB1'].replace['DOB1':'DOB']